.about {
  display: flex;
  padding: 3rem 4rem;
}
p {
  text-align: left;
  padding-right: 2rem;
}

@media screen and (max-width: 1024px) {
  .about {
    display: block;
    padding: 1rem 1.2rem;
  }
  img {
    margin-top: 2rem;
  }
}
