.header {
  align-items: center;
  background-color: #0d0640;
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 1rem 4rem;
  max-width: 1800px;
  margin: auto;
  top: 0;
  z-index: 400;
}
.mobile_nav_icon {
  display: none;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 1rem 1.2rem;
  }
  .mobile_nav_icon {
    display: block;
  }
}
